<!DOCTYPE html>
<html>
<head>
   <title>TackleMate</title>
   <link rel="icon" href="/static/rugby-ball.png">
</head>
<body>
   {% include 'header.html' %}
   <div style="padding-left: 0.5rem;">
        <br>
        <form action=>
            <label for="img"><h3>Upload a tackle video</h3></label>
            <br>
            <input type="file" id="vid" name="vid" accept="video/*">
            <br><br>
            <input type="Submit" value="Analyze my tackle">
        </form>
        <br>
    </div>
   {% include 'footer.html' %}

</body>
</html>